body {
  font-family: sans-serif;
  background-color: white;
  font-size: 62.5%;
  color: #003e51}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 48px;
  position: relative;
  top: 10px;

}

#title {
  font-family: Futura, sans-serif;
  font-variant: small-caps;
  text-align: center;
  font-size: 2.4rem;
}

#subtitle {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 2.0rem;
}

#instructions {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

#plate {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#flags {
  width: 40%;
  height: 420px;
  overflow-y: scroll;
  display: inline-block;
  float: left;
}

.flag{
   width: 95%;
   border: 1px solid #ccc;
   border-radius: 8px;
   margin-bottom: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.flag:hover{
   background-color: #e1e1e1;
   cursor: pointer;
}

#phila {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pitt {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#scr {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#atwn {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#erpa {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hburg {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#skyline-fact-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 50%;
  overflow-y: scroll;
}


#city-skyline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  width: 90%;
  height: 275px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
}


#city-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
  padding-bottom: 20px;
  width: 90%;
}

.city-text {
  font-family: Helvetica, sans-serif;
  font-variant: bold;
  text-align: left;
  font-size: 1.8rem;
}

#city-fact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.city-facts {
  font-family: Helvetica, sans-serif;
  text-align: left;
  font-size: 1.2rem;
  font-style: italic;
}
